*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    grid-template:60px auto/minmax(100px,auto) 1fr;
    grid-template-areas: "header header"
                         "aside main";

    margin: 0;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    grid-area: header;
    background-color: white;
    box-shadow:0px 5px 5px 0px rgba(0,0,0,0.2);
    padding: 0 20px;
}

.header__search{
    position: relative;
    left: 100px;
    padding: 5px 10px;
    border: 1px solid #323532;
    border-radius: 5px;
    width: 400px;


}

.header__search:hover{
    border-color: #ff595c;
}

.header__search i{
    color: #ff595c;
    margin-right:10px;

}

.header__search input{
    outline: none;
    border: none;
}

.header__profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__profile *{
    margin:0 10px;
}


.profile__img{
    background: url("./Assets/profile.jpg") center/cover no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:3px solid rebeccapurple;
}

.header__profile>i{
    font-size: 25px;
    color: #ff595c;
    margin-right: 20px;
}

main{
    grid-area: main;
    padding: 20px;
}

.movies__grid{
    display: grid;
    grid-template-columns:repeat(3,minmax(150px,1fr));
    gap:0 20px;
}

.grid__item{
    position: relative;
}

.item__figure{
    margin: 0;
}

.item__figure img{
    vertical-align: top;
    width: 100%;
    border-radius: 10px;
}

.item__info{
    display: none;
    position: absolute;
    bottom: 0;
    background: rgba(252,113,109, .8);
    cursor: pointer;
    color:white;
    padding: 10px;
    border-radius: 5px;
}

.item__info h3{
    font-size: 1.4em;
    margin: 0;
    margin-bottom: 10px;

}

.item__info p{
    margin: 0;
}

.grid__item:hover .item__info{
    display:block;
}


aside{
    grid-area: aside;
    background-color: #ff595c;
}

.menu-lateral{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.menu-lateral ul{
    padding: 0;
    list-style: none;
}

.menu-lateral ul li{
    text-align: center;
    padding: 20px 0;
}

.menu-lateral>ul>li:hover .fas{
    font-size: 2.3rem;
}

.menu-lateral ul li a{
    color: white;
    text-decoration: none;
}

.menu-lateral ul li a span{
    padding-top: 5px;
    display: block;
}

.menu-lateral ul li a i{
    font-size: 1.8rem;
}

